#task-control{
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    
}

input{
    margin: 10px 5px;
}

ul{
    list-style: none;
    padding: 0px;
    
}

.task{
    display: flex;
    margin: 10px;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 5px;

}

.action-btn{
    display: flex;
    justify-content: end;
    padding: 10px;
    
}
.edit{
    margin-right: 10px;
}
